@import '../../../scss/variables';
.button {
	display: block;
	margin: 0 auto;
	font-size: 18px;
	border-radius: 10px;
	padding: 11px 46px;
	transition: background-color 0.2s ease;
	background-color: rgba($accent-color, 0.4);
	color: #ffff;
	cursor: pointer;
	&:hover {
		background-color: rgba($accent-color, 0.7);
	}
	&.main {
		font-size: 20px;
		padding: 19px 49px;
		background-color: rgba(255, 255, 255, 0.3);
		&:hover {
			background-color: rgba($accent-color, 0.4);
		}
	}
}
