//Colors
$accent-color: #b53471;
$white: #f1e8e8;
$dark-purple: #310c24;
$black: #1a0612;
$purple: #511734;
$gradient: linear-gradient(50.98deg, #03daf2 -14.61%, #13e780 87.24%);

//Box-shadow
$box-shadow-accent: 0px 4px 4px rgba(181, 52, 113, 0.25);
$box-shadow-black16: 0px 3px 6px rgba(0, 0, 0, 0.16);
$box-shadow-black10: 0px 3px 6px rgba(0, 0, 0, 0.1);
