@import url('https://fonts.googleapis.com/css?family=Roboto:300,regular,500,700&display=swap');
@import './variables';
@import './animations';
#root {
	height: 100vh;
}
* {
	outline: 0;
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type='number'] {
	-moz-appearance: textfield;
}

body {
	background-color: $black;
	color: #ffff;
	font-family: 'Roboto';
	overflow: hidden;
}

.wrapper-inner {
	padding: 50px 90px;
	text-align: center;
	@media (max-width: 498.89px) {
		padding: 50px 10px;
	}
}

.form {
	max-width: 320px;
	margin: 0 auto;
}
.react-select {
	&__control {
		width: 100%;
		min-height: 47px !important;
		border-radius: 10px !important;
		margin-bottom: 2rem;
		text-align: left;
		border: 1px solid transparent !important;
		background-color: $purple !important;
		&--is-focused {
			border-color: rgba($accent-color, 0.3) !important;
			box-shadow: none !important;
		}
	}
	&__placeholder {
		color: #946e86 !important;
		margin-left: 6px !important;
		font-size: 16px !important;
	}
	&__menu {
		background-color: $purple !important;
		&-notice {
			color: #946e86 !important;
		}
	}
	&__option {
		cursor: pointer !important;
		&--is-selected {
			background-color: transparent !important;
		}
		&--is-focused {
			background-color: darken($purple, 7%) !important;
		}
	}
	&__single-value {
		color: #ffff !important;
	}
	&__menu-list {
		padding: 0 !important;
	}
	&__dropdown-indicator {
		cursor: pointer !important;
		color: #ffff !important;
		&:hover {
			color: rgb(194, 192, 192) !important;
		}
	}
	&__clear-indicator {
		cursor: pointer !important;
		color: #ffff !important;
		&:hover {
			color: rgb(194, 192, 192) !important;
		}
	}
	&__multi-value {
		border-radius: 5px !important;
		background-color: lighten($purple, 10%) !important;
		&__label {
			color: #ffff !important;
			font-size: 16px !important;
		}
	}
	&__input {
		color: #ffff !important;
	}
}

.exercise-badge {
	cursor: pointer;
	transition: background-color 0.3s ease;
	&:hover {
		background-color: #671f43;
	}
	margin: 0 auto 30px;
	display: flex;
	max-width: 400px;
	align-items: center;
	justify-content: space-between;
	background-color: $purple;
	padding: 10px 16px;
	border-radius: 10px;
	box-shadow: $box-shadow-black10;
	&.finished {
		background-color: $dark-purple;
		&:hover {
			background-color: #441232;
		}
	}
	> span {
		font-size: 18px;
	}
	&.closed {
		animation: fadeOut 0.5s;
	}
	&.final-closed {
		display: none;
	}
}

.alert-enter {
	opacity: 0;
	transform: scale(0.9);
}
.alert-enter-active {
	opacity: 1;
	transform: translateX(0);
	transition: opacity 300ms, transform 300ms;
}
.alert-exit {
	opacity: 1;
}
.alert-exit-active {
	opacity: 0;
	transform: scale(0.9);
	transition: opacity 300ms, transform 300ms;
}

.pages {
	position: absolute;
}

.pages-enter-active {
	animation: fadeIn 1s forwards;
}

.pages-exit-active {
	opacity: 0;
}
